<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gorboe.com.s319482mappe2">
    <uses-permission android:name="com.example.contentproviderbok.permission"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <permission android:name="gorboe.com.s319482mappe2.permission"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".services.SMSService"></service>
        <service android:name=".services.NotificationService"></service>
        <service android:name=".services.PeriodicService"></service>
        <service android:name=".services.ServiceManager"></service>
        <receiver android:name=".services.Receiver">
            <intent-filter>
                <action android:name="gorboe.com.s319482mappe2.mybroadcast" />
            </intent-filter>
        </receiver>
        <provider
            android:name="gorboe.com.s319482mappe2.core.Provider"
            android:authorities="gorboe.com.s319482mappe2"
            android:enabled="true"
            android:exported="true"
            android:readPermission="gorboe.com.s319482mappe2.permission"
            android:writePermission="gorboe.com.s319482mappe2.permission">
        </provider>
        <activity android:name=".activities.create.CreateOrderActivity"></activity>
        <activity android:name=".activities.create.CreateFriendActivity" />
        <activity android:name=".activities.create.CreateRestaurantActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.FriendsActivity" />
        <activity android:name=".activities.RestaurantActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>